body {
    margin: 0;
    padding: 0;
}
#game-screen {
    display: block;
}

#gameOver, #playHUD, #gameStart, #startEasy, #startHard, #startMed{
    position: absolute;
    visibility: hidden;
}

h1, h2, h3, h4, h5 ,h6 {
    font-family: 'Anton', sans-serif;
}


.title {
    font-size: 42px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton, #startEasy {
    border: 2px solid black;
}
#restartButton:hover, #startEasy:hover, #startMed:hover, #startHard:hover {
    background-color: white;
}

#scoreboard {
    margin: 0px;
}